/* =========
Your custom styles go here
 ========= */
*{
    margin: 0; padding: 0;
}

body {
    font-size: 0.7rem;
}

ul{
    padding: 0;
}
ul li{
    list-style: none;
}

.text-center {
    text-align: center;
}

.navbar-fixed .navbar {
    position: fixed;
}

.page-content{
    width: 100%; height: 100%; background: #fff;
}
.content-block{
    margin: 0; padding: 0;
}

.button.button-fill.color-primary {
    border: 1px solid #438cff;
    background: #438cff;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items:center;
}

.toast-container {
    position: fixed;
    width: 70%;
    left: 0;
    right: 0;
    top: 40%;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 0.25rem;
    z-index: 11800;
    color: #fff;
    font-size: 0.7rem;
    padding: 0.5rem 0.25rem;
    font-weight: normal;
    line-height: 1.25rem;
    font-family: 'Helvetica-Neue', 'HelveticaNeue', arial, sans-serif;
    display: none;
    opacity: 0;
    transition: opacity 0.8s;
}

.toast-container.show {
    display: block;
}

.toast-container.fadein {
    opacity: 1;
}

.toast-icon {
    font-size: 4.25rem;
    text-align: center;
}

.toast-msg {
    text-align: center;
    font-weight: normal;
}

.picker-calendar {
    height: 17rem;
}

.picker-calendar-week-days+.picker-calendar-months {
    height: -webkit-calc(100% - 1.9rem);
    height: -moz-calc(100% - 1.9rem);
    height: calc(100% - 1.9rem);
}

.picker-calendar-week-days{
    padding: 0.5rem 0;
    height: auto;
}

.picker-calendar-day.picker-calendar-day-miss span {
    background: #ef7373;
    color: #fff;
}
.picker-3d .picker-items .picker-items-col{
    float: left;
    width: 33.33% !important;
    text-align: center;
}
.navbar a.link.back{
    text-align: center;
    padding: 0 0.4rem;
}
/*  修改弹窗的默认样式  */
.panel-overlay{
    background: rgba(0,0,0,.5) !important;
}
.toolbar-inner{
    background-color: #e2efff !important;
}
.picker-modal .toolbar+.picker-modal-inner{
    background: #f8f8f8;
    -webkit-mask-box-image:none !important;
}
.picker-items{
    font-size: 1rem !important;
}
.modal-after-text {
    color: #007aff;
}
.modal-after-text.color-error {
    color: #b72f20;
}
