
.el-main{
  overflow-y: scroll\9;
}

#app .el-container{

}
.container{
  min-height: auto !important;
  height: auto ;
  margin-right: 0;
  margin-left: 15px;
  margin-bottom: 50px;
  padding-bottom: 30px;
}
.el-header{
  padding-left: 20px;
}
.el-container{
  overflow-y: auto;
}
.el-container.is-vertical{
  overflow-y: scroll;
  background-color: #E9EEF3;
  position: relative;
}
.el-header,.el-footer{
  background: #ffffff;
}
.el-footer{
  position: fixed;
  bottom: 0;
  left: 220px;
  background: #ffffff;
  width: 100%;
  text-indent: -220px;
}
body{
  position: relative;
}
.IElt10{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10000;
}
.ieBoard{
  width: 780px;
  position: absolute;
  right: 40%;
  top: 65%;
  margin-top: -250px;
  height: 330px;
  margin-left: -400px;
  left: 65%;
  border:10px solid rgba(106,106,106,0.1);
  background: #ffffff;
}
.ieBoard .tip{
  font-size: 20px;
  line-height: 60px;
  height: 60px;
  background: #e1e2e6;
  text-indent: 25px;
}
.ieBoard p{
  width: 80%;
  margin: 0 auto;
  font-size: 18px;
  line-height: 36px;
  margin-top: 20px;
}
.download-button{
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  -webkit-appearance: none;
  text-align: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: 0;
  margin: 0;
  -webkit-transition: .1s;
  transition: .1s;
  padding: 12px 20px;
  font-size: 14px;
  border-radius: 4px;
  color: #fff;
  background-color: #409EFF;
  border-color: #409EFF;
  text-decoration: none;
  margin-right: 30px;
  margin-top: 10px;
}
